In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
!unzip -q /content/DataSet.zip

In [5]:
df = pd.read_csv('InsuranceDataset.csv')

In [6]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)

In [7]:
df_train = df[:1000000]
df_test = df[1000000:]

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1000000 non-null  int64
 1   Age                   984480 non-null   float64
 2   Gender                1000000 non-null  object
 3   Annual Income         962654 non-null   float64
 4   Marital Status        984496 non-null   object
 5   Number of Dependents  908728 non-null   float64
 6   Education Level       1000000 non-null  object
 7   Occupation            701635 non-null   object
 8   Health Score          938258 non-null   float64
 9   Location              1000000 non-null  object
 10  Policy Type           1000000 non-null  object
 11  Previous Claims       696671 non-null   float64
 12  Vehicle Age           999995 non-null   float64
 13  Credit Score          885128 non-null   float64
 14  Insurance Duration    999999 non-null   float64
 15  Policy Start Date     1000000 non-null  object
 16  Customer Feedback     935216 non-null   object
 17  Smoking Status        1000000 non-null  object
 18  Exercise Frequency    1000000 non-null  object
 19  Property Type         1000000 non-null  object
 20  Premium Amount        1000000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 160.2+ MB

In [9]:
df_train = df_train.sample(150000, random_state=42)

In [10]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1000000 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    200000 non-null  int64
 1   Age                   196815 non-null  float64
 2   Gender                200000 non-null  object
 3   Annual Income         192397 non-null  float64
 4   Marital Status        196975 non-null  object
 5   Number of Dependents  181600 non-null  float64
 6   Education Level       200000 non-null  object
 7   Occupation            140290 non-null  object
 8   Health Score          187666 non-null  float64
 9   Location              200000 non-null  object
 10  Policy Type           200000 non-null  object
 11  Previous Claims       139300 non-null  float64
 12  Vehicle Age           199999 non-null  float64
 13  Credit Score          176990 non-null  float64
 14  Insurance Duration    200000 non-null  float64
 15  Policy Start Date     200000 non-null  object
 16  Customer Feedback     186960 non-null  object
 17  Smoking Status        200000 non-null  object
 18  Exercise Frequency    200000 non-null  object
 19  Property Type         200000 non-null  object
 20  Premium Amount        200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 32.0+ MB

In [11]:
df_test = df_test.sample(50000, random_state=42)

In [12]:
df_train.drop(columns = ['id', 'Policy Start Date'], axis=1, inplace=True)
df_test.drop(columns = ['id', 'Policy Start Date'], axis=1, inplace=True)

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 987231 to 835147
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Age                   147729 non-null  float64
 1   Gender                150000 non-null  object
 2   Annual Income         144373 non-null  float64
 3   Marital Status        147641 non-null  object
 4   Number of Dependents  136144 non-null  float64
 5   Education Level       150000 non-null  object
 6   Occupation            105152 non-null  object
 7   Health Score          140718 non-null  float64
 8   Location              150000 non-null  object
 9   Policy Type           150000 non-null  object
 10  Previous Claims       104538 non-null  float64
 11  Vehicle Age           149999 non-null  float64
 12  Credit Score          132799 non-null  float64
 13  Insurance Duration    150000 non-null  float64
 14  Customer Feedback     140272 non-null  object
 15  Smoking Status        150000 non-null  object
 16  Exercise Frequency    150000 non-null  object
 17  Property Type         150000 non-null  object
 18  Premium Amount        150000 non-null  float64
dtypes: float64(9), object(10)
memory usage: 22.9+ MB

In [14]:
df_train.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
987231,19.0,Male,7856.0,Married,2.0,Bachelor's,Unemployed,15.086127,Rural,Premium,0.0,7.0,637.0,9.0,Good,No,Rarely,Apartment,3433.0
79954,19.0,Male,140565.0,Single,0.0,High School,Employed,20.222371,Urban,Comprehensive,2.0,8.0,721.0,2.0,NaN,Yes,Rarely,Apartment,1321.0
567130,38.0,Male,37807.0,Married,2.0,Bachelor's,NaN,25.793950,Urban,Comprehensive,0.0,19.0,658.0,5.0,Good,Yes,Weekly,House,562.0
500891,47.0,Male,34108.0,Divorced,2.0,PhD,Self-Employed,26.092340,Urban,Comprehensive,1.0,15.0,490.0,2.0,Good,Yes,Monthly,Condo,2114.0
55399,48.0,Male,83913.0,Married,1.0,High School,Self-Employed,45.058470,Rural,Basic,0.0,5.0,791.0,4.0,Average,Yes,Monthly,Condo,30.0

In [15]:
df_train[df_train['Occupation'].isna()]

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
567130,38.0,Male,37807.0,Married,2.0,Bachelor's,NaN,25.793950,Urban,Comprehensive,0.0,19.0,658.0,5.0,Good,Yes,Weekly,House,562.0
401397,46.0,Male,2077.0,Married,3.0,PhD,NaN,39.690150,Suburban,Basic,NaN,5.0,NaN,8.0,Average,No,Weekly,Condo,2554.0
858884,22.0,Female,10173.0,Single,1.0,Bachelor's,NaN,21.049311,Suburban,Comprehensive,1.0,4.0,622.0,1.0,Average,Yes,Rarely,Apartment,1162.0
811353,21.0,Female,5549.0,Divorced,0.0,High School,NaN,28.683880,Suburban,Comprehensive,4.0,2.0,584.0,4.0,Poor,No,Weekly,Apartment,1217.0
577745,56.0,Male,36612.0,Married,NaN,Bachelor's,NaN,4.939076,Rural,Basic,0.0,9.0,674.0,6.0,Good,No,Daily,Condo,631.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565933,63.0,Male,8061.0,Divorced,3.0,Master's,NaN,27.268810,Urban,Premium,1.0,4.0,664.0,5.0,Poor,No,Rarely,Condo,731.0
389465,21.0,Female,21812.0,NaN,0.0,Bachelor's,NaN,24.090576,Rural,Premium,1.0,9.0,715.0,2.0,Poor,Yes,Weekly,Condo,1187.0
419774,51.0,Female,46818.0,Divorced,0.0,High School,NaN,51.494919,Urban,Premium,0.0,4.0,473.0,4.0,Good,No,Rarely,House,469.0
143385,29.0,Male,10186.0,Divorced,1.0,PhD,NaN,33.995879,Suburban,Premium,NaN,2.0,548.0,6.0,Good,Yes,Monthly,Apartment,469.0
522633,50.0,Female,37882.0,Single,3.0,High School,NaN,NaN,Suburban,Basic,2.0,15.0,818.0,6.0,Average,No,Weekly,House,1161.0

In [16]:
df_train_num = df_train.select_dtypes(include = ['int64', 'float64'])
df_train_cat = df_train.select_dtypes(include = ['object'])
df_train_num_cols = df_train_num.drop(columns = 'Premium Amount', axis = 1).columns
df_train_cat_cols = df_train_cat.drop(columns = 'Occupation', axis = 1).columns
extra_cols = ['Occupation']

In [17]:
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

def log_transform(X):
    X = np.log(X + 1)
    return X

df_num_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy = 'median')),
    ('scale', StandardScaler())
])


df_cat_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy = 'most_frequent')),
    ('onehot', OneHotEncoder())
])


df_extra_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy = 'constant', fill_value = 'x')),
    ('onehot', OneHotEncoder())
])


transformer = ColumnTransformer([
    ('num', df_num_pipeline, df_train_num_cols),
    ('cat', df_cat_pipeline, df_train_cat_cols),
    ('extra', df_extra_pipeline, extra_cols)
], remainder = 'passthrough')

X_train = pd.DataFrame(transformer.fit_transform(df_train.drop(columns = 'Premium Amount', axis = 1)), columns = transformer.get_feature_names_out())
X_test = pd.DataFrame(transformer.transform(df_test), columns = transformer.get_feature_names_out())

In [18]:
y_train = df_train['Premium Amount']

In [19]:
X_train.corrwith(y_train).sort_values(ascending = False)

extra__Occupation_Unemployed        0.014494
num__Health Score                   0.013596
cat__Gender_Male                    0.011392
cat__Customer Feedback_Average      0.009490
cat__Smoking Status_Yes             0.009329
cat__Policy Type_Basic              0.008913
cat__Education Level_Bachelor's     0.008435
num__Annual Income                  0.005493
cat__Marital Status_Divorced        0.005460
num__Age                            0.005029
num__Insurance Duration             0.004987
cat__Location_Suburban              0.004928
num__Vehicle Age                    0.004911
cat__Property Type_House            0.003896
cat__Education Level_PhD            0.003214
extra__Occupation_Employed          0.002763
cat__Exercise Frequency_Weekly      0.002734
extra__Occupation_x                 0.001938
num__Previous Claims                0.001844
cat__Exercise Frequency_Daily       0.000390
cat__Location_Urban                 0.000311
cat__Exercise Frequency_Monthly    -0.000315
cat__Property Type_Apartment       -0.000441
cat__Marital Status_Single         -0.001604
cat__Policy Type_Comprehensive     -0.001814
cat__Exercise Frequency_Rarely     -0.002811
cat__Property Type_Condo           -0.003477
cat__Marital Status_Married        -0.003833
cat__Education Level_Master's      -0.004442
cat__Customer Feedback_Good        -0.004448
cat__Location_Rural                -0.005272
cat__Customer Feedback_Poor        -0.005467
cat__Policy Type_Premium           -0.007102
cat__Education Level_High School   -0.007433
num__Credit Score                  -0.007654
cat__Smoking Status_No             -0.009329
num__Number of Dependents          -0.010450
cat__Gender_Female                 -0.011392
extra__Occupation_Self-Employed    -0.019041
dtype: float64

In [20]:
X_train.columns

Index(['num__Age', 'num__Annual Income', 'num__Number of Dependents',
       'num__Health Score', 'num__Previous Claims', 'num__Vehicle Age',
       'num__Credit Score', 'num__Insurance Duration', 'cat__Gender_Female',
       'cat__Gender_Male', 'cat__Marital Status_Divorced',
       'cat__Marital Status_Married', 'cat__Marital Status_Single',
       'cat__Education Level_Bachelor's', 'cat__Education Level_High School',
       'cat__Education Level_Master's', 'cat__Education Level_PhD',
       'cat__Location_Rural', 'cat__Location_Suburban', 'cat__Location_Urban',
       'cat__Policy Type_Basic', 'cat__Policy Type_Comprehensive',
       'cat__Policy Type_Premium', 'cat__Customer Feedback_Average',
       'cat__Customer Feedback_Good', 'cat__Customer Feedback_Poor',
       'cat__Smoking Status_No', 'cat__Smoking Status_Yes',
       'cat__Exercise Frequency_Daily', 'cat__Exercise Frequency_Monthly',
       'cat__Exercise Frequency_Rarely', 'cat__Exercise Frequency_Weekly',
       'cat__Property Type_Apartment', 'cat__Property Type_Condo',
       'cat__Property Type_House', 'extra__Occupation_Employed',
       'extra__Occupation_Self-Employed', 'extra__Occupation_Unemployed',
       'extra__Occupation_x'],
      dtype='object')

In [21]:
features_to_delete = [
    'cat__Exercise Frequency_Monthly',
    'cat__Property Type_Condo',
    'cat__Smoking Status_No',
    'cat__Gender_Female',
    'cat__Marital Status_Single',
    'cat__Policy Type_Basic',
    'cat__Customer Feedback_Average',
]
X_train.drop(columns=features_to_delete, inplace=True)
X_test.drop(columns=features_to_delete, inplace=True)

In [22]:
import tensorflow as tf

model = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape = (X_train.shape[1],)),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dropout(rate=0.2),
    tf.keras.layers.Dense(256, activation = 'leaky_relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation = 'leaky_relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(64, activation = 'relu'),
    tf.keras.layers.Dense(1, activation = 'linear')
])

optimizer = tf.keras.optimizers.AdamW(learning_rate=0.001, beta_1=0.9, beta_2=0.999, weight_decay=1e-5)
model.compile(loss = 'mean_absolute_error', optimizer = optimizer, metrics = ['mean_absolute_error'])

early_stopping = tf.keras.callbacks.EarlyStopping(patience=3, restore_best_weights=True)

In [23]:
history = model.fit(X_train, y_train, epochs = 25, validation_split = 0.2, callbacks=[early_stopping])

Epoch 1/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 24s 5ms/step - loss: 750.3105 - mean_absolute_error: 750.3105 - val_loss: 637.1142 - val_mean_absolute_error: 637.1142
Epoch 2/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 19s 5ms/step - loss: 644.7310 - mean_absolute_error: 644.7310 - val_loss: 635.7949 - val_mean_absolute_error: 635.7949
Epoch 3/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 18s 5ms/step - loss: 640.7202 - mean_absolute_error: 640.7202 - val_loss: 634.9667 - val_mean_absolute_error: 634.9667
Epoch 4/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 20s 5ms/step - loss: 640.7605 - mean_absolute_error: 640.7605 - val_loss: 633.8435 - val_mean_absolute_error: 633.8435
Epoch 5/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 17s 4ms/step - loss: 640.2006 - mean_absolute_error: 640.2006 - val_loss: 633.2545 - val_mean_absolute_error: 633.2545
Epoch 6/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 18s 5ms/step - loss: 636.7963 - mean_absolute_error: 636.7963 - val_loss: 632.9141 - val_mean_absolute_error: 632.9141
Epoch 7/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 20s 5ms/step - loss: 641.7158 - mean_absolute_error: 641.7158 - val_loss: 631.9329 - val_mean_absolute_error: 631.9329
Epoch 8/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 18s 5ms/step - loss: 637.4705 - mean_absolute_error: 637.4705 - val_loss: 631.3495 - val_mean_absolute_error: 631.3495
Epoch 9/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 20s 4ms/step - loss: 637.9319 - mean_absolute_error: 637.9319 - val_loss: 632.1412 - val_mean_absolute_error: 632.1412
Epoch 10/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 22s 5ms/step - loss: 636.8796 - mean_absolute_error: 636.8796 - val_loss: 630.3499 - val_mean_absolute_error: 630.3499
Epoch 11/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 19s 5ms/step - loss: 637.9507 - mean_absolute_error: 637.9507 - val_loss: 630.3744 - val_mean_absolute_error: 630.3744
Epoch 12/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 19s 4ms/step - loss: 638.4411 - mean_absolute_error: 638.4411 - val_loss: 631.3467 - val_mean_absolute_error: 631.3467
Epoch 13/25
3750/3750 ━━━━━━━━━━━━━━━━━━━━ 22s 5ms/step - loss: 635.4935 - mean_absolute_error: 635.4935 - val_loss: 630.5913 - val_mean_absolute_error: 630.5913

In [24]:
model.evaluate(X_test, df_test['Premium Amount'])

1563/1563 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - loss: 632.2431 - mean_absolute_error: 632.2431

[631.0128173828125, 631.0128173828125]